.container {
  filter: drop-shadow(10px 20px 10px red) /* x축으로의 거리, y축으로의 거리, 그림자의 흐림 정도 색상*/
}

.container .item {
  width: 120px;
  height: 120px;
  background-image: linear-gradient(skyblue, green);
}

.container img {
  width: 220px;
}