body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  display: flex;
  justify-content: center;
}

.section {
  padding: 16px;
}

.image-wrapper {
  width: 500px;
  height: 600px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 8px;
  width: 500px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
