.container {
  width: 150px;
  height: 150px;
  border: 2px solid;
  margin: 100px;
  perspective: 300px;
}

.container .item {
  width: 150px;
  height: 150px;
  background-color: skyblue;
  transform: rotateY(45deg);
  transform-style: preserve-3d;
}

.container .item .box {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  transform: rotateX(45deg);
}