.container {
  width: 150px;
  height: 150px;
  border: 2px solid;
  margin: 100px;
}

.container .item {
  width: 150px;
  height: 150px;
  background-color: skyblue;
  transition-duration: 1s;
}

.container .item:hover {
  transform: perspective(300px) rotateY(45deg);
}