:root { /* 가상 클래스 선택자 - 전역으로 사용하기 위해*/
  --color-primary: royalblue; /* royalblue 색상의 변수 생성 */
  --color-danger: red; /* red 색상의 변수 생성 */
}

.box {
  width: 200px;
  height: 70px;
  border: 2px solid;
}

.primary {
  background-color: var(--color-primary); /* 변수를 사용하기 위해 var() 함수를 실행하고, 인수에 변수를 담아야 한다. */
}

.danger {
  --color-danger: hotpink;
  background-color: var(--color-danger);
}

.success {
  background-color: var(--color-success, orange);
}

.container {
  --color-container: brown;
}

.item {
  width: 100px;
  height: 100px;
  border: 2px solid;
  background-color: var(--color-container);
}